{% extends "base.html" %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Todolist</h1>
        <p class="lead">Todoリストを作って毎日を効率的に過ごしましょう</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-{{ item.priority }}" role="alert">
        <p> {{item.title}}</p>
        <a href="" type="button" class="btn btn-outline-info">編集</a>
        <a href="" type="button" class="btn btn-outline-light">削除</a>
        <a href="" type="button" class="btn btn-outline-success">詳細</a>
    </div>
    {% endfor %}
</div>
{% endblock content %}