{% extends 'base.html' %}

{% block customcss %}

{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
  社内SNS
</div>
{% endblock header %}

{% block content %}
<div class = "container">
{% for item in object_list %}
<div class="alert alert-success" role="alert">
  <p>タイトル:{{item.title}}</p>
  <p>投稿者{{item.author}}</p>
  <a href="#" class="btn btn-primary btn" role="button" aria-pressed="true">Primary link</a>
  <a href="#" class="btn btn-secondary btn" role="button" aria-pressed="true">Link</a>
</div>
{% endfor %}
</div>
{% endblock content %}