{% extends "base.html" %}

{% block content %}
<form class="form-signin" method="POST" action="">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    {% if error %}
    {{error}}
    {% endif %}
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" class="form-control" name="username" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
</form>
{% endblock content %}